// ==========================================================================
// $Accordion-list
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================

.accordion {

  &:before {
    top: 50px;
    bottom: 50px;
    left: 34px;
    border-left: solid 1px white;
    animation: flipdown 0.5s ease both 2s;
    @extend .ps-empty-abs;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    //position: relative;
    //left: 12%;
  }

  li {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    padding: 18px 0 14px 0;
    width: 100%;
    counter-increment: section;
    animation: flipdown 0.5s ease both;

    &:before {
      content: counter(section);

      @extend .fx-c-c;
      order: 0;
      justify-content: center;
      align-content: center;

      position: relative;
      left: -24px;
      width: 35px;
      height: 35px;

      border-radius: 50%;
      background-color: #fff;
    }

    &:after {
      content: '';
      position: relative;
      order: 1;
      display: block;
      left: -66px;
      width: 47px;
      height: 47px;

      border-radius: 50%;
      border: solid 1px #fff;
    }

    $elements : 6;

    @for $i from 1 through $elements {
      &:nth-of-type(#{$i}) {
        $j:($i+1)*0.25;
        animation-delay: #{$j}s;
      }
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  h2 {
    order: 2;
    display: block;
    margin: 0;
    position: relative;
    left: -52px;


    color: white;
    font-size: 18px;
    letter-spacing: 1px;

    cursor: pointer;
    user-select: none;
  }

  p {
    order: 3;
    position: relative;
    overflow: hidden;
    width: 208px;
    margin-left: auto;
    //max-height: 800px;

    transform: translate(0, 0);
    margin-top: 4px;
    margin-bottom: 0;
    z-index: 2;
    opacity: 1;

    color: white;
    font-size: 12px;
    line-height: 16px;
    //letter-spacing: 1px;

    transition: all 0.25s ease-in-out;
  }
  input {
    position: absolute;
    width: 120%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    transform: translateX(-10%)
  }

  input:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 0);
  }
}


@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
