// ==========================================================================
// $Accordion-list
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
$curveCount: 6;

.wrap {
  width: 100%;
  //background-image: linear-gradient(0deg, #221F3F 0%, #1A4E3F 100%);
  //animation: curve 9s linear infinite;

  svg { display: block; margin: 0 auto; }

}

.curve {
  stroke-width: 1px;
  stroke-opacity: 1;

  path {
    transform-origin: center 60px;
  }

  @for $i from 1 through $curveCount {
    & path:nth-child(#{$i}) {
      animation: curve 6s linear $i*1.2s infinite;
    }
  }
}

@keyframes curve {
  0% {
    transform: none; stroke-opacity:1;
    d: path("M 0, 60 S 200, -60, 400, 60, 900, -120, 1200 60")
  }
  50% {
    transform: rotateX(360deg) scaleY(.8) skewY(-5deg);;
    stroke-opacity: 1;
    d: path("M 0, 60 S 200, -60, 400, 60, 900, -120, 1200 60")
  }
  100% {
    transform: none; stroke-opacity:1;
    d: path("M 0, 60 S 200, -60, 400, 60, 900, -120, 1200 60")
  }
}