// ==========================================================================
// $Header
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
footer {
  .about {
    @extend .fx-c-c;
    flex-direction: column;
    height: 180px;
    width: 100%;
    background-color: #232227;

    .information{
      position: relative;
      margin-top: 40px;
      height: 20px;
      width: 20px;
      border: {
        radius: 50%;
      }
      border: 3px solid #ffb403;

      &:before, &:after {
        @extend .ps-empty-abs;
        top: 8px;
        left: 8px;
        height: 10px;
        width: 4px;
        background-color: #fff;
        border :{
          radius: 50%;
        }
      }

      &:after {
        top: 2px;
        height: 4px;
      }
    }
  }

  .banners {
    @extend .fx-c-c;
    padding: 40px 2px;
    background-color: #0e0b11;

    img {
      margin: 2px 15px;
      opacity: 0.5;
    }

  }

  .footer-menu {
    visibility: hidden;
  }

  .footer-article {
    visibility: hidden;
  }
}

@media all and (min-width: 768px){
  footer {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #232227;
    .about {
      flex-grow: 1;
      order: 1;
      width: auto;

      img {
        position: absolute;
        filter: grayscale(100%);
        width: 190px;
        height: 51px;
      }
    }

    .banners {
      visibility: hidden;
      display: none;
    }

    .information {
      visibility: hidden;
    }

    .footer-menu-left {
      order: 0;
      flex-grow: 1;
      visibility: visible;

      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        border-bottom: solid 1px orange;
        list-style-type: none;

        li {
          margin: 20px;

        }
      }
    }

    .footer-menu-right {
      order: 2;
      flex-grow: 1;
      visibility: visible;

      ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        border-bottom: solid 1px orange;
        list-style-type: none;

        li {
          margin: 20px;

        }
      }
    }

    .footer-article {
      order: 3;
      flex-grow: 3;
      visibility: visible;

      padding-left: 120px;
      padding-right: 120px;

      column-count: 2;
      column-gap: 20px;
      column-max-width: 150px;

    }
  }
}