// ==========================================================================
// $Header
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
header {
  .logo {
    width: 140px;
    margin: 27px;
  }
  .menu {
    margin:30px;
    width: 48px;
    height: 31px;
    border: 2px solid #fb853e;
    background-color: #ffffff;
    border-radius: 20px;


  }
  nav {

  }
}