// ==========================================================================
// $Welcome-registration
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
.welcome-registration {
  color: $welcome-registration-text;
  .text{
    min-width: 245px;
    max-width: 80%;
    //margin: 24px;

    font-size: 18px;
    text-align: center;

    span {
      font-weight: bold;
    }
  }

  img {
    width: 277px;
    margin: 24px;
  }

  .button {
    @extend .button-registration;
    margin: 26px;
  }

  @extend .pd-5px;
  @extend .fx-c-c;
}
