.button-registration {
  border-radius: 50px ;
  height: 60px;
  width: 230px;
  min-height: 60px;
  max-height: 100px;
  min-width: 230px;
  max-width: 350px;
  background-color: $color-button-registration;
}

.button-registration > span{
  color: white;
  text-transform: uppercase;
}



