.fx-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fx-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fx-div {
  position: relative;
  margin: 2%;
}




