.fx-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fx-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fx-c-st {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fx-div {
  position: relative;
  margin: $main-margin;
}


