// Atoms
//
// If atoms are the basic building blocks of matter, then the atoms of
// our interfaces serve as the foundational building blocks that
// comprise all our user interfaces. Therefore these atoms would include
// basic HTML tags like form labels, inputs, buttons, and other elements
// that can’t be broken down any further without ceasing to be functional.
//
// @source - http://atomicdesign.bradfrost.com/chapter-2/
@import 'buttons';

.header-logo {
  position: relative;
  left: 2px;
  top: 3px;
  height: 70px;
  width: 160px;
}

.header-menu {
  position: relative;
  right: 12px;
  top: 2px;
  height: 25px;
  width: 42px;
  background-color: white;
  border: 3px orange solid;
  border-radius: 20px;
}

.welcome-header {
  text-transform: uppercase;
  font-size: 1.9em;
  color: orange;
}



.section-header{
  display: flex;
  width: 100%;
}
