// ==========================================================================
// $Header
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
.accordion {
  @extend .fx-c-c;
  position: relative;
  width: 280px;
}

@media all and(min-width: 768px) {
  .accordion {
    width: auto;

  }
}