// ==========================================================================
// $Body
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
body {
  //height: 2423px;
  width:100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: url("/images/main-banner/main-banner-mob.png") center top no-repeat,
              radial-gradient(circle 2423px at center, #ffcc00 0%, #ff7c00 100%);
  background-size: 1920, auto;
  //background-color: $color-background;
}

@media all and (min-width: 768px){
  body {
    background-color: $color-background;
    background-image: none;
  }
}