// ==========================================================================
// $Header
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
header {
  @extend .fx-c-sb;

  position: relative;
  width: 100%;
  margin: 2%;
}