// ==========================================================================
// $Welcome-registration
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
.welcome-registration {
  position: relative;
  margin:$main-margin;

  @extend .fx-c-c;
  flex-direction: column;
}
